.Edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Edit > input {
  flex: 1;
  border: 1px solid rgb(201, 201, 201);
  padding: 10px;
  border-radius: 5px;
}

.Edit > button {
  background-color: rgb(179, 179, 247);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
}
