.Button {
  background-color: aqua;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  white-space: nowrap;
  border-radius: 10px;
  margin: 10px 0;
}

.Button_POSITIVE {
  background-color: rgb(73, 67, 241);
  color: white;
}

.Button_NEGATIVE {
  background-color: rgb(241, 67, 67);
  color: white;
}
