.home-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container > form > h1 {
  margin: 20px 0;
}

.home-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
